.data1{
    display: none;
}
.dropper{
    display: unset;
}

:root{
    --topIcon2: 9px;
    --heightIcon2: 32px;
    --heightnavbar: 50px;
    --topHome: var(--heightnavbar);
    --heightHome : 120px;
    --topSection :calc(var(--topHome) + var(--heightHome) + 2px);
    --heightSection:250px;
    --topTips:calc(var(--topSection) + var(--heightSection) + 2px);
    --heightTips :575px;
    --topExercise:calc(var(--topTips) + var(--heightTips) + 2px);
    --heightExercise:330px;
    --topDiet:calc(var(--topExercise) + var(--heightExercise) + 2px);
    --heightDiet1:222px;
    --heightDiet2:222px;
    --topContact:calc(var(--topDiet) + var(--heightDiet1) + var(--heightDiet2) + 4px);
    --heightContact:70px;
}
#toggler{
    top: var(--topIcon2);
    height: var(--heightIcon2);
}
.data2{
    font-size: 20px;
    line-height: 1.5em;
    margin-left: 15px;
}
.data3{
    font-size: 18px;
    line-height: 1.4em;
    margin: 5px 10px;
}
.data4 li{
    font-size: 15px;
    line-height: 1.93em;
}
.data4 h1{
    font-size: 18px;
}
.data5{
    font-size: 14px;
    line-height: 2.0em;
    margin: 20px 10px;
}
.data5 h1{
    font-size: 20px;
    margin-right: 55px;
}
.data6{
    font-size: 14px;
    line-height: 1.77em;

}
.data6 h1{
    font-size: 25px;
}
.data7{
    font-size: 13px;
    line-height: 1.7em;
}
@media only screen and (min-width:423px) and (max-width:450px){
    :root{
        --heightTips:534px;
    }
}
@media only screen and (min-width:377px) and (max-width:422px){
    :root{
        --heightTips:563px;
    }
}
@media only screen and (min-width:350px) and (max-width:376px){
    :root{
        --heightTips:592px;
    }
}
@media only screen and (min-width:397px) and (max-width:450px){
    :root{
        --heightDiet1: 207px;
        --heightDiet2: 196px;
    }
}
@media only screen and (min-width:391px) and (max-width:396px){
    :root{
        --heightDiet1: 206px;
        --heightDiet2: 223px;
    }
}
@media only screen and (min-width:350px) and (max-width:390px){
    :root{
        --heightDiet1: 232px;
        --heightDiet2: 221px;
    }
}
@media only screen and (min-width:419px) and (max-width:450px){
    :root{
        --heightSection:228px;
    }
}
