#home::before{
    opacity: 0.6;
}
#section::before{
    opacity: 0.4;
}
#tips::before{
    opacity: 0.4;
}



.data2{
    font-size: 40px;
    line-height: 1.5em;
}
.data3{
    font-size: 30px;
    line-height: 1.4em;
}
.data4{
    font-size: 20px;
    line-height: 2.2em;
}
.data5{
    font-size: 20px;
    line-height: 2.3em;
}
.data6{
    font-size: 20px;
    line-height: 2.1em;
}
.data7{
    font-size: 20px;
    line-height: 2.3em;
}
@media only screen and (min-width: 701px) and (max-width: 714px){
    :root{
        --heightSection:397px;
    }
}
